/CleanArchitecture.Stsutsul.Api/bin/
/CleanArchitecture.Stsutsul.Api/obj/
/CleanArchitecture.Stsutsul.Application/bin/
/CleanArchitecture.Stsutsul.Application/obj/
/CleanArchitecture.Stsutsul.Domain/bin/
/CleanArchitecture.Stsutsul.Domain/obj/
/CleanArchitecture.Stsutsul.Persistence/bin/
/CleanArchitecture.Stsutsul.Persistence/obj/
