# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CleanArchitecrure.Stsutsul.iml
# Datasource local storage ignored files
/../../../../../../../:\projects\crypto-trade\CleanArchitecrure.Stsutsul\.idea\.idea.CleanArchitecrure.Stsutsul\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
